body {
            background-color: #0f172a;
            color: #e2e8f0;
            font-family: sans-serif;
            text-align: center;
            padding: 20px;
        }
        h1 { color: #38bdf8; margin-top: 50px; }
        .kotak { 
            border: 1px dashed #38bdf8; 
            padding: 20px; 
            display: inline-block; 
            border-radius: 10px;
        }